<script src="libraries/p5.min.js"></script>
  <script src="libraries/p5.sound.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
    integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
<body>   
  <p> hi</p>
  <script src="sketch.js"></script>
</body>